1) Multiple players should be able to player the game that does not mean 2 players at once, there should be N number of games going on at once. 
2) There should not be any database write conflicts, data writing should be independent. 
3) User vs user, user vs bot mode
4) Option to see leaderboard for wins/losses/top players etc along
5) If a player wishes to see previous games, the board config at each move, the player should be able to replay the game forward/backward in time to see how the game went. 
6) Username should be unique.
7) Username and password lookup and verification should take O(logN) or O(N) at max.
